.sidebar-container,
.content,
.bottom-container {
    /* width: 100%; */
    box-sizing: border-box;
    padding: 20px;
}

.sidebar-container {
    padding: 40px;
    background-color: #ededed;
    font-size: 25px;
    color: #141414;
    flex: 0 0 500px;
    /* Fixed width for the sidebar */
}

.content {
    background-color: #ededed;
    color: #141414;
    font-family: "articulat-cf";
    height: calc(100vh - 180px);
    flex: 1;
    /* Takes up remaining space */
    overflow-y: auto;
    /* Add scrollbar if needed */
}

.bottom-container {
    display: flex;
    flex-direction: row;
    height: 111px;
    background-color: #141414;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.bottom-container button {
    height: 50%;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 800;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "articulat-cf";
}

.tree-title {
    font-size: 30px;
    flex: 1;
    font-weight: 700;
}

.author-pane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.author {
    flex: 1;
    font-size: 16px;
}

.tags {
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.ratings {
    display: flex;
    gap: 30px;
}

.upvotes {
    display: flex;
    gap: 3px;
}

.downvotes {
    display: flex;
    gap: 3px;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}