.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #2ed142;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
}

input {
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #555;
}

button {
    padding: 10px;
    background-color: #2ed142;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #2ed142;
}

a {
    text-decoration: none;
    color: #2ed142;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #2ed142;
}

p {
    text-align: center;
    margin: 8px;
}