.landing{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-right: 5vh;
    height: 90.5vh;
    width: auto;
    background-color: #ffffff7f;
}

.logo{

}

.welcome{
    height: 60vh;
    width: 60vh;
    transition: margin 1s;
    border-radius: 5px;
    border: #eeeeee6d solid 5px;
    margin-top: 5%;
    box-shadow: rgba(46, 240, 149, 0.4) 5px 5px, rgba(1, 189, 101, 0.2) 15px 15px;
    background-color: #eeeeee9e;
}
.wel{
    margin-top: 30%;
    margin-left: 15%;
}
.gstart{
    margin-left: 20%;
}