
.hotbar {
    margin-left: 18%;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;
  }
.treecube {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow-x:auto;
    scrollbar-width: 0;
    padding: 10px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
  }

.arrowwrap{
    padding: 0px 30px;
    position: relative;
    flex-direction: row;
}

.leftb{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: green;
}
.rightb{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: green;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.treecube::-webkit-scrollbar {
    display: none;

  }