.hotbar {
    margin-left: 420px;
    margin-right: 100px;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;
}

.treecube {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow-x: auto;
    scrollbar-width: 0;
    padding-left: 10px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.arrowwrap {
    padding: 0px 40px;
    position: relative;
    flex-direction: row;
}

.leftb {
    position: absolute;
    right: 0;
    top: 50%;
    transform: scale(1.04);
    background-color: #ededed;
}

.rightb {
    position: absolute;
    left: 0;
    top: 50%;
    transform: scale(1.04);
    background-color: #ededed;
}

.header {
    font-size: 30px;
    margin-bottom: 5px;
    margin-bottom: 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.treecube::-webkit-scrollbar {
    display: none;

}