/* Sidebar.css */

.sidebar {
    width: 14%;
    height: 100%;
    background-color: #141414;
    color: #fff;
    top: 20;
    left: 0;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 60px;
    position: fixed;
    display: flex;
    font-weight: 800;
    font-size: 24px;
  }

  li:hover { 
    transform: scale(1.1);
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    position: relative;
    transition: all .1s ease-in-out; 
  }
  
  li:hover {
    cursor: pointer;
    color: #d9ff2e;
  }

  .simg {
    position: absolute;
  }