/* Sidebar.css */

.sidebar {
    width: 14%;
    height: 100%;
    background-color: #eeeeee;
    color: #fff;
    top: 20;
    left: 0;
    padding: 30px;
    position: fixed;
    display: flex;
    color: #313131;
    font-weight: 800;
    font-size: 22px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li:hover {
    cursor: pointer;
    text-decoration: underline;
  }