/* Sidebar.css */

.sidebar {
    width: 15%;
    height: 100%;
    background-color: #575757;
    color: #fff;
    top: 20;
    left: 0;
    padding: 20px;
    position: fixed;
    display: flex;
    border-right: 2px solid black;
    font-size: 20px;
    justify-items: baseline;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    position: relative;
  }
  
  li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .simg {
    position: absolute;
  }