.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: sticky;
    top: 0;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    display: inline;
    margin-right: 20px;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search input[type="text"] {
    width: 500px;
    padding: 5px;
    border: 1px solid #777;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}