.navbar {
    background-color: #a5d800;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: sticky;
    top: 0;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    display: inline;
    margin-right: 20px;
}

.navbar-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-search input[type="text"] {
    width: 500px;
    height: 22px;
    padding: 5px;
    padding-left: 12px;
    border: 0px solid #777;
    border-radius: 22px;
    margin-right: 10px;
}

button {
    background-color: #fff;
    color: #313131;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;

}

button:hover {
    background-color: #74b800;
}

.link {
    color: #fff;
    text-decoration: none;
}