.navbar {
    background-color: #a5d800;
    color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 50px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    display: inline;
    margin-right: 20px;
}

.navbar-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-search input[type="text"] {
    font-weight: 400;
    width: 500px;
    height: 25px;
    padding: 5px;
    padding-left: 12px;
    border: 0px solid #777;
    border-radius: 22px;
    margin-right: 10px;
}

button {
    background-color: #fff;
    color: #313131;
    padding: 5px 10px;
    border: none;
    height: 25px;
    border-radius: 22px;
    cursor: pointer;
    transition-duration: .1s;
    transition: all .1s ease-in-out; 

}

button:hover {
  transform: scale(1.04);
  background-color: #d9ff2e;
}

.link{
    font-weight: 800;
    color: #141414;
    text-decoration: none ;
}

.navButton {
    display: inline;
    margin-left: 30px;
    font-weight: 600;
    font-size: 20px;
    color: #141414;
    text-decoration: none ;
}

.navButton:hover {
    color: #fff;
}

.title {
    font-weight: 600;
    font-size: 23px;
    color: #141414;
    text-decoration: none ;
    transition-duration: .1s;
    transition: all .1s ease-in-out; 
}

.title:hover {
    color: #fff;
}