.treeCardRoot {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 15px;
    border: black 3px solid;
    margin: auto;
}

.treeCardDesc {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.treeCardTitle {
    font-size: 30px;
}

.treeCardAuthor {
    font-size: 16px;
}

.treeCardRating {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.treeCardUpvotes {
    display: flex;
    flex-direction: row;
    flex: 1;

}

.treeCardDownvotes {
    display: flex;
    flex-direction: row;
    flex: 1;
}